doctype html
html
  head
    title 404 Not Found
  body
    include head.pug
    p 页面不存在，将在
      span 5
      | 秒后返回主页
    script.
      let count = 5;
      setInterval(() => {
        $('span')[0].textContent = --count;
      }, 1000)
      setTimeout(() => {
        location.href = '/';
      }, 5000)